In [13]:
import pandas as pd
import numpy as np

# Series creation from dictionary

In [2]:
dict={'India':'Mumbai','Pakistan':'Karachi','Iran':'Tehran','USA':'Newyork'}

In [3]:
s=pd.Series(dict)
print(s)
print(type(s))
print(s.index)

India        Mumbai
Pakistan    Karachi
Iran         Tehran
USA         Newyork
dtype: object
<class 'pandas.core.series.Series'>
Index(['India', 'Pakistan', 'Iran', 'USA'], dtype='object')

In [4]:
ss=pd.Series([34,343,34,324,235,465,345,343], index=[1,2,3,4,5,6,7,8])
print(ss)
print(type(ss))

1     34
2    343
3     34
4    324
5    235
6    465
7    345
8    343
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
l=['Lion','Bear','Moose']
s1=pd.Series(l)
type(s1)
print(s1)

0     Lion
1     Bear
2    Moose
dtype: object

In [6]:
l2=[123,23,24,2351,5,435,324,523,45,435]
s2=pd.Series(l2)
print(type(s2))
print(s2)

<class 'pandas.core.series.Series'>
0     123
1      23
2      24
3    2351
4       5
5     435
6     324
7     523
8      45
9     435
dtype: int64

In [7]:
l3=[12,32,312,3412,3,None]
s3=pd.Series(l3) # python will covert datatype to float due to None and None to NaN
print(s3)

0      12.0
1      32.0
2     312.0
3    3412.0
4       3.0
5       NaN
dtype: float64

In [8]:
l4=['asad','salman','kamran',None]
s4=pd.Series(l4) # python will covert datatype to Object due to None
s4

0      asad
1    salman
2    kamran
3      None
dtype: object

In [9]:
np.nan ==None #nan is not equal to None

NameError: name 'np' is not defined

In [ ]:
np.nan==np.nan

In [ ]:
np.isnan(np.nan) #same as above .But This one used for nan to nan comparision

# Query in series

In [ ]:
dict={'India':'Mumbai','Pakistan':'Karachi','Iran':'Tehran','USA':'Newyork'}
series=pd.Series(dict)
print(series)

In [ ]:
series.iloc[3] # To give integer.integer based query

In [ ]:
series.loc['Pakistan'] # To give string if index in label. label based query

In [ ]:
nseries=pd.Series([33,2343,299,23,4465,7,57,456,554])
print(nseries)

In [ ]:
nseries.loc[0]

# Operation

In [18]:
s=pd.Series([2,3,23,23,2,3,2,4,2,42,3,2,32])

In [26]:
total=0
for i in s:
    total=total+i
print(total)
# or
print(np.sum(s))
# or
print(s.sum())

143
143
143

In [33]:
s=pd.Series(np.random.randint(0,100,100000))
s.head(6)

0    27
1    83
2    84
3    27
4    94
5    76
dtype: int32

In [35]:
len(s)

100000

In [36]:
%%timeit -n 100
summary=0
for item in s:
    summary+=item

12 ms ± 485 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [37]:
%%timeit -n 100
summary=0
np.sum(s)

201 µs ± 45.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [40]:
s+=2 #adding 2 to each series element
s

0        31
1        87
2        88
3        31
4        98
         ..
99995     6
99996    32
99997    92
99998     6
99999    23
Length: 100000, dtype: int32

In [43]:
s=pd.Series([23,23,2,32,3,2,32,23,])
s

0    23
1    23
2     2
3    32
4     3
5     2
6    32
7    23
dtype: int64

In [45]:
s.loc[9]=989 # If index is not present, it will add data

0     23
1     23
2      2
3     32
4      3
5      2
6     32
7     23
9    989
dtype: int64

In [47]:
s.loc[1]=23232 # replace data if index present
s

0       23
1    23232
2        2
3       32
4        3
5        2
6       32
7       23
9      989
dtype: int64

In [49]:
s1=pd.Series([3434,34343,'Bear'],index=[1,2,'Animal'])
s1

1          3434
2         34343
Animal     Bear
dtype: object

In [51]:
s2=pd.Series(['Australia','India','Pakistan','Newzeland'],index=['circket','circket','circket','circket'])
s2

circket    Australia
circket        India
circket     Pakistan
circket    Newzeland
dtype: object

In [58]:
s3=s1.append(s2)
s3

1               3434
2              34343
Animal          Bear
circket    Australia
circket        India
circket     Pakistan
circket    Newzeland
dtype: object

In [59]:
s1 #original s1 is same

1          3434
2         34343
Animal     Bear
dtype: object