In [1]:
import numpy as np

#  Creating np array from list

In [5]:
list=[3,35,34,4,3,3,3]
nparr=np.array(list)
print(nparr)
print(type(nparr))
print(nparr.shape)

[ 3 35 34  4  3  3  3]
<class 'numpy.ndarray'>
(7,)

In [16]:
list2=[23,23,23,3,2,0]
z=np.array([[2,3,4],[23,34,23]])
z.shape

(2, 3)

# Using arrange function

In [154]:
arr=np.arange(13)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [37]:
z=np.arange(0,31,2) # range between 0 31 , with gape 2
print(type(z))
print(z.shape)
print(z)

<class 'numpy.ndarray'>
(16,)
[ 0  2  4  6  8 10 12 14 16 18 20 22 24 26 28 30]

# Using linespace function

In [43]:
z=np.linspace(0,6,16)   # numbers between 0 to 6, quantity is 11
print(z.shape)
print(z)

(16,)
[0.  0.4 0.8 1.2 1.6 2.  2.4 2.8 3.2 3.6 4.  4.4 4.8 5.2 5.6 6. ]

In [47]:
z.resize(2,8)
z

array([[0. , 0.4, 0.8, 1.2, 1.6, 2. , 2.4, 2.8],
       [3.2, 3.6, 4. , 4.4, 4.8, 5.2, 5.6, 6. ]])

In [73]:
z=np.linspace(8,30,20)
print(z)

[ 8.          9.15789474 10.31578947 11.47368421 12.63157895 13.78947368
 14.94736842 16.10526316 17.26315789 18.42105263 19.57894737 20.73684211
 21.89473684 23.05263158 24.21052632 25.36842105 26.52631579 27.68421053
 28.84210526 30.        ]

In [75]:
c=z.reshape(4,5)
c.shape

(4, 5)

In [84]:
np.ones((4,4))
np.zeros((3,2))

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [85]:
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [86]:
np.array([1,2,3]*3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [88]:
np.repeat([1,2,3],3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [95]:
p=np.ones((3,2),int)
p

array([[1, 1],
       [1, 1],
       [1, 1]])

In [115]:
o=np.eye(2)
o

array([[1., 0.],
       [0., 1.]])

In [116]:
m=np.vstack((p,o))
m

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 0.],
       [0., 1.]])

In [120]:
np.vstack([p,2*p])
np.hstack([p,2*p])

array([[1, 1, 2, 2],
       [1, 1, 2, 2],
       [1, 1, 2, 2]])

# numpy operations

In [125]:
arr1=np.arange(0,20,2)
print(arr1)
arr2=np.arange(20,40,2)
print(arr2)

[ 0  2  4  6  8 10 12 14 16 18]
[20 22 24 26 28 30 32 34 36 38]

In [126]:
arr1+arr2

array([20, 24, 28, 32, 36, 40, 44, 48, 52, 56])

In [127]:
arr1*arr2

array([  0,  44,  96, 156, 224, 300, 384, 476, 576, 684])

In [128]:
arr1*2

array([ 0,  4,  8, 12, 16, 20, 24, 28, 32, 36])

In [129]:
arr1.dot(arr2)

2940

In [137]:
#creating new array 
arr3=np.array([arr1, arr1*2])
print(arr3)
print(arr3.shape)
print(arr3.T)
z.shape

[[ 0  2  4  6  8 10 12 14 16 18]
 [ 0  4  8 12 16 20 24 28 32 36]]
(2, 10)
[[ 0  0]
 [ 2  4]
 [ 4  8]
 [ 6 12]
 [ 8 16]
 [10 20]
 [12 24]
 [14 28]
 [16 32]
 [18 36]]

(10, 2)

In [140]:
# To check datatype in array
z.dtype

dtype('int32')

In [142]:
z=z.astype('f')
z.dtype

dtype('float32')

In [153]:
newarr=np.arange(0,399,3)
newarr
print(newarr.min())
print(newarr.max())
print(newarr.sum())
print(newarr.argmax())#index of max number
print(newarr.argmin()) #index of minimum number

0
396
26334
132
0

# slicing

In [157]:
z=np.arange(13)**2
z

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144],
      dtype=int32)

In [161]:
z[-4:]

array([ 81, 100, 121, 144], dtype=int32)

In [168]:
z=np.arange(36)
z=z.reshape(6,6)
z

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [170]:
z[3,2:] #3rd raw and columns from 2 to end.

array([20, 21, 22, 23])

In [171]:
z[-1,3:] # last row and columns from 3 to end

array([33, 34, 35])

In [172]:
z[:2,:-1] #first 2 rows and all columns excpet last

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

In [179]:
z[-1,::2] #every 2nd element of last row

array([22, 22, 22])

In [176]:
z[z>22] #all element greater than 22

array([23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35])

In [181]:
z[z>22]=22  #make every z>20 values to 22
z

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 22],
       [22, 22, 22, 22, 22, 22],
       [22, 22, 22, 22, 22, 22]])

In [182]:
z

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 22],
       [22, 22, 22, 22, 22, 22],
       [22, 22, 22, 22, 22, 22]])

In [185]:
new_z=z[:3,:3]
new_z

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

In [186]:
new_z[:]=0

In [187]:
z  #values has changed in original array

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 22],
       [22, 22, 22, 22, 22, 22],
       [22, 22, 22, 22, 22, 22]])

In [190]:
# use copy method to creat copy of original array
znew=z.copy()

In [193]:
znew[:]=0
znew

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0]])

In [195]:
z #now unchanged

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 22],
       [22, 22, 22, 22, 22, 22],
       [22, 22, 22, 22, 22, 22]])

# iteration over array

In [199]:
arr=np.random.randint(0,39,(4,4))
arr

array([[ 6, 26, 13, 15],
       [13, 36,  9, 12],
       [20, 26, 19, 13],
       [16, 17, 30, 26]])

In [200]:
#iterate by item
for d in arr:
    print(d)

[ 6 26 13 15]
[13 36  9 12]
[20 26 19 13]
[16 17 30 26]

In [202]:
#iterate by index
for i in range(len(arr)):
    print(arr[i])

[ 6 26 13 15]
[13 36  9 12]
[20 26 19 13]
[16 17 30 26]

In [204]:
# combining both method
for i,row in enumerate(arr):
    print('row', i,'is', row)

row 0 is [ 6 26 13 15]
row 1 is [13 36  9 12]
row 2 is [20 26 19 13]
row 3 is [16 17 30 26]

In [206]:
arr2=arr**2
arr2

array([[  36,  676,  169,  225],
       [ 169, 1296,   81,  144],
       [ 400,  676,  361,  169],
       [ 256,  289,  900,  676]], dtype=int32)

In [213]:
#iterating over two array
for i,j in zip(arr,arr2):
    print(i) #first array 
    print(j) #2nd array
    print(i,'+',j,'=',i+j)

[ 6 26 13 15]
[ 36 676 169 225]
[ 6 26 13 15] + [ 36 676 169 225] = [ 42 702 182 240]
[13 36  9 12]
[ 169 1296   81  144]
[13 36  9 12] + [ 169 1296   81  144] = [ 182 1332   90  156]
[20 26 19 13]
[400 676 361 169]
[20 26 19 13] + [400 676 361 169] = [420 702 380 182]
[16 17 30 26]
[256 289 900 676]
[16 17 30 26] + [256 289 900 676] = [272 306 930 702]

# assignment

In [235]:
z=np.arange(36)
z=z.reshape(6,6)

In [236]:
z

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [238]:
z[2:4,2:4]

array([[14, 15],
       [20, 21]])

In [252]:
print(z[:,::-7])
print(z[0:6,::-7])
print(z.reshape(36)[::7]) #correct

[[ 5]
 [11]
 [17]
 [23]
 [29]
 [35]]
[[ 5]
 [11]
 [17]
 [23]
 [29]
 [35]]
[ 0  7 14 21 28 35]

In [229]:
 ['a', 'b', 'c'] + [1, 2, 3]

['a', 'b', 'c', 1, 2, 3]

In [230]:
type(lambda x: x+1)

function