In [1]:
def add_numbers(x,y,z):
    c=x+y+z
    return c

In [2]:
add_numbers(5,3,4)

12

In [3]:
# default values in parameter.
# All default values must be at the end

In [4]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

In [5]:
print(add_numbers(3,5))

8

In [6]:
def multiply(x,y,z=None):
    if z==None:
        return x*y
    else:
        return x*y*z

In [7]:
multiply(4,4,88)

1408

In [8]:
# math function

In [9]:
def math(x,y,c="add"):
    if c=="add":
        return x+y
    else:
        return x-y

In [10]:
print(math(34,44,"add"))
print(math(34,7,"adddd"))
print(math(34,4)) #If 3rd value is not given , it will exectue x+y

78
27
38

In [11]:
# Tuples???

In [13]:
t=(34,3,"This is the third item",34,'df')
type(t)

tuple

In [15]:
l=[3,4,"This is 4d",'c']
type(l)

list

In [16]:
l.append(434343)

In [17]:
l

[3, 4, 'This is 4d', 'c', 434343]

In [19]:
for item in l:
    print(item)

3
4
This is 4d
c
434343

In [29]:
i=0
while i < len(t)-1:
    print(x[i])
    i=i+1

3
4
This is 4d
c

In [33]:
c= [1,4]+[5,5] #+ Concatinate two list
print(c)

[1, 4, 5, 5]

In [46]:
c=c*4 #will repeat c 4 times

In [47]:
 1 in c

True

In [48]:
c[0]

1

In [49]:
c[1]

4

In [50]:
c[2]

5

In [51]:
c[:]

[1, 4, 5, 5, 1, 4, 5, 5, 1, 4, 5, 5, 1, 4, 5, 5]

In [62]:
c[-9:-3] # always from left to right .

[5, 1, 4, 5, 5, 1]

In [63]:
c[-4:-9]

[]

In [64]:
c[-4:-9:-1]# right to left

[1, 5, 5, 4, 1]

In [65]:
# String
# String are same as list .We can do all same operation(+,*,in)
name='Muhammad Asad Ali'

In [73]:
# String method split
fullname='Muhammad Asad Ali Khan'.split(' ')[0]
lastname='Muhammad Asad Ali Khan'.split(' ')[-1]
print(fullname+' '+lastname)

Muhammad Khan

In [74]:
#dictionaries

In [75]:
student={ 'name':'muhammad asad ali', 'age':23, 'sex':'male', 'address':'house 9/1 sheet 23 model colony'}

In [76]:
student

{'name': 'muhammad asad ali',
 'age': 23,
 'sex': 'male',
 'address': 'house 9/1 sheet 23 model colony'}

In [85]:
# changing value in dict
student['name']="salman"
print(student)

{'name': 'salman', 'age': 23, 'sex': 'male', 'address': 'house 9/1 sheet 23 model colony', 'fav_movies': ['hum kon', 'tum kon', 34, '007', 'pAKISTAN']}

In [86]:
# adding new key/data in dict
student['fav_movies']=["hum kon",'tum kon',34,'007','pAKISTAN']
print(student)

{'name': 'salman', 'age': 23, 'sex': 'male', 'address': 'house 9/1 sheet 23 model colony', 'fav_movies': ['hum kon', 'tum kon', 34, '007', 'pAKISTAN']}

In [82]:
student

{'name': 'salman',
 'age': 23,
 'sex': 'male',
 'address': 'house 9/1 sheet 23 model colony',
 'fav_movies': ['hum kon', 'tum kon', 34, '007', 'pAKISTAN']}

In [87]:
# iteration in dict
# iteration on keys
for k in student:
    print(k)

name
age
sex
address
fav_movies

In [91]:
# iteration on values
for d in student.values():
    print(d)

salman
23
male
house 9/1 sheet 23 model colony
['hum kon', 'tum kon', 34, '007', 'pAKISTAN']

In [93]:
# iteration on both
for k,d in student.items():
    print(k,d)
#Above output is tuple .It is unpakcing into tuple

name salman
age 23
sex male
address house 9/1 sheet 23 model colony
fav_movies ['hum kon', 'tum kon', 34, '007', 'pAKISTAN']

In [94]:
#More on strings

In [95]:
name ="Asad"
age=34

In [96]:
print('My name is :'+name +"My Age is: " +str(age))

My name is :AsadMy Age is: 34

In [100]:
#String manipulation
order={'price':355,'name':'Asad', 'Quantity':34}
order_state="{} bought the item with quantity {} at a price of {}"

Asad bought the item with quantity 34 at a price of 355

In [101]:
print(order_state.format(order['name'],order['Quantity'],order['price']))

Asad bought the item with quantity 34 at a price of 355

# Dates and Time in python

In [106]:
import datetime as dt
import time as tm

In [107]:
tm.time()

1592056041.9607186

In [110]:
dtnow=dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2020, 6, 13, 18, 48, 26, 939101)

In [113]:
print(dtnow.year)
print(dtnow.month)
print(dtnow.minute)
print(dtnow.second)

2020
6
48
26

In [115]:
#time delta
tdelta=dt.timedelta(days=100)
tdelta

datetime.timedelta(days=100)

In [117]:
today=dt.date.today()
today

datetime.date(2020, 6, 13)

In [118]:
today=tdelta

In [120]:
today >today-tdelta

True

# Objects and map
#objects do not have private or instance memory. 
#Once you define object, you have access to all attributes and properties

In [253]:
class Person:
    department="Department of Computer Science"

    def set_name(self, new_name):
        self.name=name
    def set_loc(self, location):
        self.location=location

#  map(function, iterable1,iterable2,iterable3) function will be applied to iterable

In [254]:
list1=[23,34,23,5634,23,1,9,1]
list2=[340,34,23,0,23,3,1,534,34,34]
result=map(min,list1,list2)
result
# map output is map object which is iterable.

In [255]:
for i in result:
    print(i)

23
34
23
0
23
1
1
1

In [256]:
people=['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

In [257]:

# Same is below
def split_title_and_name(people):
    name=[]
    for d in people:
        f=d.split(" ")[0]
        l=d.split(" ")[-1]
        full_name=f+l
        name.append(full_name)
    return name
print(split_title_and_name(people))

['Dr.Brooks', 'Dr.Collins-Thompson', 'Dr.Vydiswaran', 'Dr.Romero']

In [258]:
# Same as above
def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name, people))
# We did not use list in map, because map function apply function on each iterable unit(data) on iterable.
# Basically function is being to each element on iterable/list element or item.

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

# Lamdas functions
### *cannot have dafault parameter
### *cannot complex logic
### *only singal expression

In [261]:
my_funct=lambda a,b,c :a+b

In [262]:
my_funct(4,4,4)

8

# lambda & map
1- lambda is only used to write short functions.()
2- map actully maps the function to iterable--> map(function,iterable)

In [284]:
people=['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']
x=lambda person:person.split()[0] + ' ' + person.split()[-1]
list(map(x,people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

In [286]:
# or
list(map(lambda person:person.split()[0] + ' ' + person.split()[-1],people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

# list comprehension 
1-list comprehension are used to creat list or apply any function on list .
2-list creation is only purpose based on some condition

In [291]:
even=[n for n in range(1,39) if n%2 == 0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [300]:
# def times_tables():
#     lst = []
#     for i in range(10):
#         for j in range (10):
#             lst.append(i*j)
#     return lst
# Above is same as below
out=[i*j for i in range(10) for  j in range(10)]
out

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 0,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 0,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 0,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [308]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'
z=[]
for a in lowercase:
    for b in lowercase:
        for c in digits:
            for d in digits:
                 z.append(a+b+c+d)
print(z[:50]) # Print first 50 values

['aa00', 'aa01', 'aa02', 'aa03', 'aa04', 'aa05', 'aa06', 'aa07', 'aa08', 'aa09', 'aa10', 'aa11', 'aa12', 'aa13', 'aa14', 'aa15', 'aa16', 'aa17', 'aa18', 'aa19', 'aa20', 'aa21', 'aa22', 'aa23', 'aa24', 'aa25', 'aa26', 'aa27', 'aa28', 'aa29', 'aa30', 'aa31', 'aa32', 'aa33', 'aa34', 'aa35', 'aa36', 'aa37', 'aa38', 'aa39', 'aa40', 'aa41', 'aa42', 'aa43', 'aa44', 'aa45', 'aa46', 'aa47', 'aa48', 'aa49']

In [311]:
# using list comprehension ,
z=[a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]
print(z[:50])

['aa00', 'aa01', 'aa02', 'aa03', 'aa04', 'aa05', 'aa06', 'aa07', 'aa08', 'aa09', 'aa10', 'aa11', 'aa12', 'aa13', 'aa14', 'aa15', 'aa16', 'aa17', 'aa18', 'aa19', 'aa20', 'aa21', 'aa22', 'aa23', 'aa24', 'aa25', 'aa26', 'aa27', 'aa28', 'aa29', 'aa30', 'aa31', 'aa32', 'aa33', 'aa34', 'aa35', 'aa36', 'aa37', 'aa38', 'aa39', 'aa40', 'aa41', 'aa42', 'aa43', 'aa44', 'aa45', 'aa46', 'aa47', 'aa48', 'aa49']